<div>
  <ejs-chiplist (click)="chipClick($event)" enableDelete="true">
    <e-chips>
      <e-chip text="Andrew" 
      leadingIconUrl="https://ej2.syncfusion.com/demos/src/chips/images/andrew.png"></e-chip>
      <e-chip text="Janet" 
      leadingIconUrl="https://ej2.syncfusion.com/demos/src/chips/images/janet.png"></e-chip>
      <e-chip text="Laura" cssClass="e-outline"></e-chip>
      <e-chip text="Margaret" avatarText="M"></e-chip>
    </e-chips>
  </ejs-chiplist>
</div>
<div>{{ chipText }}</div>